





.register-content{
    background-color: rgba(229, 241, 216, 0.397);
    width: 70%;
    margin: 0 auto;

    margin-top: 5%;
}
.three-process{
    display: flex;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
   
}

.header2{
    margin-top: 6px;
    font-size: 14px;

    margin-bottom: 30px;
}


.personal{

    /* background-color: rgb(243, 211, 188); */
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line
{
    width: 250px;
    height: 2px;
    background-color: black;
    margin-top: -38px;
}


.one{
    width: 20px;
    height: 20px;
    background-color: cornflowerblue;
    padding: 8px;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    margin-bottom: 20px;
}


.header-basic{
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}